<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<title>Phonebook</title>
		<link rel="stylesheet" href="css/index.css?230320180924" type="text/css"/>
	</head>
	<body>
		<div class="main-container">
			<div class="container main-title">
				<h1 class="main-title-text">Моя телефонная книга</h1>
			</div>
			<div id="app" class="container content">
				<div class="phonebook-table">
					<div class="phonebook-row">
						<div class="phonebook-cell phonebook-cell__title cell-phone ">Номер</div>
						<div class="phonebook-cell phonebook-cell__title cell-fio">ФИО</div>
						<div class="phonebook-cell phonebook-cell__title">Действия</div>
					</div>
					<div class="phonebook-row" v-show="showAddForm">
						<input class="phonebook-cell phonebook-cell-edit cell-phone cell-phone-edit" v-model="phone" type="text" placeholder="Введите телефон" maxlength="12">
						<input class="phonebook-cell phonebook-cell-edit cell-fio cell-fio-edit" v-model="fio" type="text" placeholder="Введите ФИО" maxlength="80">
						<input class="phonebook-cell cell-add" @click="addPhoneBookVue" type="button" value="Добавить">
					</div>
					<div class="phonebook-row" v-show="showEditForm">
						<input class="phonebook-cell phonebook-cell-edit cell-phone cell-phone-edit" v-model="editPhone" type="text" placeholder="Введите телефон" maxlength="12">
						<input class="phonebook-cell phonebook-cell-edit cell-fio cell-fio-edit" v-model="editFio" type="text" placeholder="Введите ФИО" maxlength="80">
						<input class="phonebook-cell cell-add" @click="editPhoneBookVue" type="button" value="Редактировать">
					</div>
					<div class="phonebook-rows" v-show="showAddForm">
						<div class="phonebook-row" v-for="(phoneBook, n) in phoneBookVue">
							<div class="phonebook-cell cell-phone">{{phoneBook.phone}}</div>
							<div class="phonebook-cell cell-fio">{{phoneBook.fio}}</div>
							<div class="phonebook-cell buttons-block">
								<input class="phonebook-cell cell-edit" @click="editForm(n)" type="button" value="Редактировать">
								<input class="phonebook-cell cell-delete" @click="removePhoneBookVue(n)" type="button" value="Удалить">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/vue.min.js"></script>
		<script src="js/index-vue.js"></script>
	</body>
</html>